* {
    box-sizing: border-box;
}

body { 
    background-color: #ffe5c3;
}

#menu {
    background-color: darkslategrey;
    padding: 20px;
    width: 20%;
    top: 0;
    bottom: 0;
    position: fixed;
    border-radius: 0 4px 4px 0;
    left: -20%;
    transition: left 0.7s, background-color 0.3s;
}

#menu:target {
    left: 0%;
}

#menu:hover {
    background-color: rgb(248, 147, 110);
}

nav a {
    position: absolute;
    top : 10px;
    right: 10px;
}

li {
    color: white;
}

a:hover {
    background: darkslategrey;
    border-radius: 50%;
    transition: 2s;
}

a:visited {
    color: rgb(226, 96, 96);
}

a, a:visited {
    text-decoration: none;
}

main {
    width: 100%;
}

#open {
    text-align: center;
}

