extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/" method="POST")
    input(type="text" name="firstname")
    br
    br
    input(type="text" name="lastname")
    br
    br
    input(type="number" name="age")
    input(type="email" name="email")
    br
    br
    input(type="submit")
  p #{errormsg}