<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
    .rouge {
        color: red;
    }
    </style>
</head>
<body>
    <div id="app">
        <input type="text" v-model="message">
        <p :class= "{rouge: checked, noir: !checked}">{{ message }}</p>
        <input type="checkbox" v-model="checked">
    </div>
    <script src="main.js"></script>
</body>
</html>