extends layout

block content
    h1= title
    ul
        each err in tartifkette
            li= err
    form(action="/form" method="POST")
        input(type="text" name="lastname" value="" placeholder="Nom")
        br
        input(type="text" name="firstname" value="" placeholder="Prénom")
        br
        input(type="number" name="age" value="" placeholder="Age")
        br
        input(type="email" name="email" value="" placeholder="Mail")
        br
        br
        input(type="submit" value="Send !")