extends layout

block content
    h1= user1
        form(action="/form" method="GET")
            input(type="text" name="last name" value="")
            input(type="text" name="first name" value="")
            input(type="number" name="age" value="")
            input(type="email" name="email" value="")