extends layout

block content
    h1= title
    ul 
        each err in errors 
            li= err
    form(action="/formulaire" method="POST")
        input(type="text" name="username" placeholder="Nom d'utilisateur")
        br
        input(type="password" name="passw1" placeholder="Mot de passe")
        br
        input(type="password" name="passw2" placeholder="Confirmer mot de passe")
        input(type="submit" value="Send !")